<!-- <div class="content-div clearfix">
    <img src="../../../assets/images/ic1.png" style="float:left;width: 50%;">
    <div>
        <h3 class="center margin-top-30">
            Lorem ipsum dolor
        </h3>
        <p class="opacity center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>
  </div>
  
  <div class="content-div clearfix">
    <img src="../../../assets/images/ic2.png" alt="" style="float:right;width: 50%;">
    <h3 class="center margin-top-30">
    Lorem ipsum dolor
    </h3>
    <p class="opacity center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </div> -->
  <div class="content-div clearfix">
    <div class="column-left app-img-left">
    <img src="../../../assets/images/ic1.png" alt="" style="width: 100%;">
    </div>
    <div class="column-right padding-content">
        <h3 class="center">Lorem ipsum dolor</h3>
        <h6 class="opacity center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <br>
            Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. 
        </h6>
    </div>
    </div>
    <div class="content-div">
        <div class="column-left padding-content">
            <h3 class="center">Lorem ipsum dolor</h3>
            <h6 class="opacity center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <br>
                Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. 
            </h6>
        </div>
        <div class="column-right app-img-right">
            <img src="../../../assets/images/ic2.png" alt="" style="width: 100%;">
        </div>
    </div>