  <div class="content-div clearfix">
    <div class="column-left app-img-left">
    <img src="../../../assets/images/ic1.png" alt="" style="width: 100%;">
    </div>
    <div class="float-right container right-padding">
        <h1 class="left font-weight">Lorem ipsum dolor</h1>
        <h6 class="left margin-top-30 font-weight">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <br>
            Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. 
        </h6>
    </div>
    </div>
    <div class="content-div">
        <div class="float-left container left-padding">
            <h1 class="left font-weight">Lorem ipsum dolor</h1>
            <h6 class="left margin-top-30 font-weight">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <br>
                Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. 
            </h6>
        </div>
        <div class="column-right app-img-right">
            <img src="../../../assets/images/ic2.png" alt="" style="width: 100%;">
        </div>
    </div>