<div class="content-div clearfix">
    <div class="float-left app-img-left img-section">
        <img src="../../../assets/images/app1.png" alt="" class="landing">
    </div>
    <div class="container text-float-right">
        <h1 class="left font-weight blue-text">Lorem ipsum dolor</h1>
        <h6 class="left margin-top-30 font-weight">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <br>
            Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. 
        </h6>
    </div>
</div>
<div class="content-div">
        <div class="container text-float-left">
            <h1 class="left font-weight blue-text">Lorem ipsum dolor</h1>
            <h6 class="left margin-top-30 font-weight">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <br>
                Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. 
            </h6>
        </div>
        <div class="float-right app-img-right">
            <img src="../../../assets/images/app2.png" alt="" class="landing">
        </div>
    </div>