<div class="content-div clearfix img-section">
<div class="column-left app-img-left">
<img src="../../../assets/images/app1.png" alt="">
</div>
<div class=" padding-content">
    <h3 class="center blue-text">Lorem ipsum dolor</h3>
    <h6 class="opacity center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>
        Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. 
    </h6>
</div>
</div>
<div class="content-div">
    <div class="column-left padding-content">
        <h3 class="center blue-text">Lorem ipsum dolor</h3>
        <h6 class="opacity center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <br>
            Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. 
        </h6>
    </div>
    <div class=" app-img-right">
        <img src="../../../assets/images/app2.png" alt="">
    </div>
</div>