<div class="content-div clearfix">
        <div class="user-img app-img-left img-section">
            <img src="../../../assets/images/user-photo.png" alt="">
        </div>
        <div class="container text-float-right">
            <h1 class="left font-weight red-text">Template is awesome</h1>
            <h6 class="left margin-top-30 font-weight">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <br>
                Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. 
            </h6>
            <br>
            <p class="user-p">
                John Doe
            </p>
                <h6 class="font-weight margin-top-5">CEO at Crios.com</h6>
        </div>
</div>