<div class="content-div clearfix">
    <div class="column-left">
        <img src="../../../assets/images/user-photo.png" alt="">
    </div>
    <div class="column-right padding-content">
        <h3 class="center" style="color: red;">
            Template is awesome
        </h3>
        <h6 class="opacity center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <br>
            Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh
        </h6>
        <p class="center">
            John Doe
        </p>
            <p class="opacity center">CEO at Crios.com</p>
    </div>